<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.artyaban.aplicacionnomina">


    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/q"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Inicio">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".inicio2" />
        <activity android:name=".inicio3" />
        <activity android:name=".inicio4" />
        <activity android:name=".asistencia1" />
        <activity android:name=".asistencia_ayuda" />
        <activity android:name=".asistencia_exito" />
        <activity android:name=".asistencia_falla" />
        <activity android:name=".lista_asistencia" />
        <activity android:name=".incidencias_ayuda" />
        <activity android:name=".lista_asistencia_exito"></activity>
    </application>

</manifest>